*.zip
*.pyc
*__pycache__
*.csv
#*.png
*.pdf
*.pptx
*.h5

*.~lock*
*.keras
*/outputs/
*/outputs_credit/*
*/outputs_imdb/*
*/outputs_ae/*
*/data/*
*.tgz
*.pkl

*.joblib
*.json
*/outputs*
*.html
*.json


# OS/IDE
.DS_Store
.vscode/
/.ipynb_checkpoints/

!/Modulo10EvaModularMarcoParra/backend/models/model_meta.joblib
!/Modulo10EvaModularMarcoParra/backend/models/modelo.pkl

!/Modulo8EvalModularMarcoParra/outputs/
!/Modulo9EvalModularMarcoParra/images/

!/Modulo4EvalMarcoParrra/outputs

!/Modulo7EvalModularMarcoParra/outputs

!/Modulo5Clase6EvalModMarcoParra/outputs/
!/Modulo6EvalModularMarcoParra/outputs/